<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLwMd-13mYh_41pE_BW0TL3ZPUWVqf8ys</string>
	<key>GCM_SENDER_ID</key>
	<string>875881748415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.somethingprojectthataymade.sonoflightsoftware</string>
	<key>PROJECT_ID</key>
	<string>sonoflightsoftware</string>
	<key>STORAGE_BUCKET</key>
	<string>sonoflightsoftware.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875881748415:ios:26438436ceff1e6645b30a</string>
</dict>
</plist>